@model LightLib.Web.Models.Catalog.AssetIndexModel
@{
    ViewBag.Title = "Library Assets";
}

<h2 class="lms-section-heading">
    Library Assets
</h2>

<div class="row">
    <section>
        <p>
            <strong>Assets</strong> make up the collection of all resources a library can loan across all branches.
        </p>
        <p>
            Use this page to add, update, or remove Assets, see checkout queues, and mark items as lost or found.
        </p>
    </section>
</div>


<div class="row">
    <div class="col-12">
        <button class="btn btn-primary btn-sm">
            Add New Asset
        </button>
        <button class="btn btn-primary btn-sm">
            Edit
        </button>
        <button class="btn btn-primary btn-sm">
            Delete
        </button>


        <h3>Create a new Asset</h3>
        <form onsubmit="createBook(event)">
            <label for="id">Id</label>
            <input id="id" type="text"/>
            <br />

            <label for="cost">Cost</label>
            <input id="cost" type="text"/>
            <br />

            <label for="imageurl">Image Url</label>
            <input id="imageurl" type="text"/>
            <br />

            <label for="location">Location</label>
            <input id="location" type="text"/>
            <br />

            <input type="submit" value="Submit" />
            <br />
        </form>

    </div>
</div>

<hr />

<div class="row">
    <div class="container container-fluid">
        <table class="table table-sm table-responsive-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Image Url</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var asset in Model.PageOfAssets.Results)
                {
                    <tr>
                        <th scope="row">@asset.Id</th>
                        <td>@asset.Cost</td>
                        <td>@asset.ImageUrl</td>
                        <td>@asset.Location.Name</td>
                    </tr>
                }
            </tbody>
        </table>
        <nav aria-label="Asset Table Navigation Bottom">
            @{
                var previousPage = (Model.PageOfAssets.PageNumber - 1);
                var nextPage = (Model.PageOfAssets.PageNumber + 1);
                var prevDisabled = !Model.PageOfAssets.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.PageOfAssets.HasNextPage ? "disabled" : "";
            }
            <ul class="pagination justify-content-end">
                <li class="page-item small">
                    @Html.ActionLink("Previous", "Index", "Catalog", new { page = previousPage }, new { @class="page-link" })
                </li>
                <li class="page-item small">
                    @Html.ActionLink("Next", "Index", "Catalog", new { page = nextPage }, new { @class="page-link" })
                </li>
            </ul>
        </nav>
    </div>
</div>

<script>
    var createBook = (event) => {
        event.preventDefault();

        console.log("title", document.getElementById("title").value);
        var asset = {
            Id: "0",
            Title: "dab",
            Year: 123,
            Status: {
                Id: 0,
                Name: "test",
                Description: "this is a description"
            },
            Cost: 12.00,
            ImageUrl: "dab.png",
            NumberOfCopies: 3,
            AssetType: 1,
            Location: {
                Id: 3,
                Name: "temp",
                Address: "temp",
                Telephone: "temp"
            }
        }   

        console.log("the asset is:", asset);


        const xhr = new XMLHttpRequest();

        xhr.open("POST", "http://localhost:8000/Catalog/NewAsset");
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Content-Type", "application/json");
        console.log(JSON.stringify(asset));

        xhr.send(JSON.stringify(asset));

        xhr.onerror = function(error) {
            console.log("Error:", error);
        }


    }

</script>

